In [17]:
import csv, pandas as pd, matplotlib.pyplot as plt, numpy as np
from matplotlib.colors import LinearSegmentedColormap
from matplotlib.lines import Line2D

In [18]:
df = pd.read_csv('sensor_data.txt', sep="|", header = None, parse_dates = True, engine='python', names=["timestamp","temperature"])

In [19]:
df.head()

             timestamp  temperature
0  2016.07.30.17.42.07        73.34
1  2016.07.30.17.42.08        73.18
2  2016.07.30.17.42.09        73.18
3  2016.07.30.17.42.10        73.18
4  2016.07.30.17.42.11        73.18

In [20]:
df["temperature"]

0      73.34
1      73.18
2      73.18
3      73.18
4      73.18
5      73.18
6      73.18
7      79.90
8      83.99
9      85.82
10     86.99
11     88.00
12     88.34
13     88.84
14     89.01
15     89.18
16     89.36
17     89.53
18     89.53
19     89.70
20     89.70
21     89.87
22     90.04
23     90.04
24     90.04
25     90.21
26     90.21
27     90.21
28     90.21
29     90.38
       ...
104    73.49
105    73.49
106    73.49
107    73.34
108    73.34
109    73.34
110    73.34
111    73.18
112    73.18
113    73.34
114    73.34
115    73.49
116    73.34
117    73.34
118    73.34
119    73.34
120    73.49
121    73.65
122    73.65
123    73.65
124    73.65
125    73.49
126    73.49
127    73.49
128    73.49
129    73.34
130    73.49
131    73.49
132    73.49
133    73.49
Name: temperature, dtype: float64

In [21]:
df['alert'] = np.where(df['temperature']>=80, 1, 0)

In [23]:
df

               timestamp  temperature  alert
0    2016.07.30.17.42.07        73.34      0
1    2016.07.30.17.42.08        73.18      0
2    2016.07.30.17.42.09        73.18      0
3    2016.07.30.17.42.10        73.18      0
4    2016.07.30.17.42.11        73.18      0
5    2016.07.30.17.42.12        73.18      0
6    2016.07.30.17.42.13        73.18      0
7    2016.07.30.17.42.14        79.90      0
8    2016.07.30.17.42.15        83.99      1
9    2016.07.30.17.42.16        85.82      1
10   2016.07.30.17.42.17        86.99      1
11   2016.07.30.17.42.18        88.00      1
12   2016.07.30.17.42.19        88.34      1
13   2016.07.30.17.42.20        88.84      1
14   2016.07.30.17.42.21        89.01      1
15   2016.07.30.17.42.22        89.18      1
16   2016.07.30.17.42.23        89.36      1
17   2016.07.30.17.42.24        89.53      1
18   2016.07.30.17.42.25        89.53      1
19   2016.07.30.17.42.26        89.70      1
20   2016.07.30.17.42.27        89.70      1
21   2016.07.30.17.42.28        89.87      1
22   2016.07.30.17.42.29        90.04      1
23   2016.07.30.17.42.30        90.04      1
24   2016.07.30.17.42.31        90.04      1
25   2016.07.30.17.42.32        90.21      1
26   2016.07.30.17.42.33        90.21      1
27   2016.07.30.17.42.34        90.21      1
28   2016.07.30.17.42.35        90.21      1
29   2016.07.30.17.42.36        90.38      1
..                   ...          ...    ...
104  2016.07.30.17.43.51        73.49      0
105  2016.07.30.17.43.52        73.49      0
106  2016.07.30.17.43.53        73.49      0
107  2016.07.30.17.43.54        73.34      0
108  2016.07.30.17.43.55        73.34      0
109  2016.07.30.17.43.56        73.34      0
110  2016.07.30.17.43.57        73.34      0
111  2016.07.30.17.43.58        73.18      0
112  2016.07.30.17.43.59        73.18      0
113  2016.07.30.17.44.00        73.34      0
114  2016.07.30.17.44.01        73.34      0
115  2016.07.30.17.44.02        73.49      0
116  2016.07.30.17.44.03        73.34      0
117  2016.07.30.17.44.04        73.34      0
118  2016.07.30.17.44.05        73.34      0
119  2016.07.30.17.44.06        73.34      0
120  2016.07.30.17.44.07        73.49      0
121  2016.07.30.17.44.08        73.65      0
122  2016.07.30.17.44.09        73.65      0
123  2016.07.30.17.44.10        73.65      0
124  2016.07.30.17.44.11        73.65      0
125  2016.07.30.17.44.12        73.49      0
126  2016.07.30.17.44.13        73.49      0
127  2016.07.30.17.44.14        73.49      0
128  2016.07.30.17.44.15        73.49      0
129  2016.07.30.17.44.16        73.34      0
130  2016.07.30.17.44.17        73.49      0
131  2016.07.30.17.44.18        73.49      0
132  2016.07.30.17.44.19        73.49      0
133  2016.07.30.17.44.20        73.49      0

[134 rows x 3 columns]